body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.4;
}

.container {
    max-width: 900px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}


button.language-btn {
    background-color: #1E90FF !important;
    color: #FFFAF0 !important;
    border: none !important;
    padding: 8px 16px;
    border-radius: 10px !important;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 8px;
}

button.language-btn:hover {
    background-color: #1565C0 !important; /* Un tono más oscuro al pasar el mouse */
}

button.download-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #87CEEB !important; /* Azul claro, con !important para mayor especificidad */
    color: #ffffff !important;
    border: none !important;
    padding: 8px 16px;
    border-radius: 10px !important; /* Bordes redondeados */
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 8px;
}

button.download-btn:hover {
    background-color: #6BB9E0 !important; /* Un tono más oscuro al pasar el mouse */
}


header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #1a1a1a;
    margin-bottom: 5px;
}

.title {
    font-size: 1.1em;
    font-weight: 400;
    color: #555;
    margin-bottom: 5px;
}

.contact-info {
    font-size: 0.9em;
    color: #666;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    color: #87CEEB !important; /* Azul claro */
    margin-top: 30px;
    margin-bottom: 8px;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    color: #87CEEB !important; /* Azul claro */
    margin-bottom: 3px;
}

.section-divider {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}


.details {
    font-size: 0.9em;
    font-weight: 700;
    color: #666;
    margin-bottom: 3px;
}

.location {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 3px;
}

p {
    font-size: 0.95em;
    color: #444;
    margin-bottom: 5px;
}

.profile-pic-container {
    text-align: center;
}

#profile-pic {
    width: 40px;  /* Reduced from 120px (120 / 3 = 40) */
    height: 40px; /* Reduced from 120px (120 / 3 = 40) */
    object-fit: cover;
    border: 3px solid #007bff;
}

.badge {
    font-size: 1.5em; /* Aumentado el tamaño de la letra */
    font-weight: 500;
    padding: 8px 12px; /* Aumentado el padding para mejor legibilidad */
}

.languages-list {
    list-style: disc;
    padding-left: 20px;
}

.languages-list li {
    font-size: 0.95em;
    color: #444;
    margin-bottom: 5px;
}


